.micro-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;

  .align-right {
    margin: 0 2rem 0 auto;
  }

  .align-left {
    margin: 0 0 0 2rem;
  }
}